
.title_name {
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom: 2px solid #72dabd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkred;
    text-align: center;
}